#box {
	background-color: #fff;
	border-radius: 8px;
	position: fixed;
  top: 50%;
  left: 50%;
	padding: 25px;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.quote {
	padding-bottom: 8px;
	font-size: 2rem;
}

.author {
	font-size: 1.25rem;
	padding-bottom: 16px;
	text-align: right;
}

.twitter-share, .new-quote {
	padding: 4px;
	float: center;
	text-align: center;
	font-size: 2rem;
}

a.twitter-share {
 text-decoration: none;
}